.vscode/**
.vscode-test/**
.git/**
out/src/**
out/test/**
test/**
src/**
node_modules/**
**/*.map
**/*.ts
**/*.tsbuildinfo
.DS_Store
**/.DS_Store
.gitignore
package-lock.json
tsconfig.json
vsc-extension-quickstart.md
esbuild.mjs
